name: Publish on PyPI

on:
  release:
    types: [published]

jobs:
  build-n-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package (sdist and wheel)
        run: python -m build

      - name: Publish on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1